@import "./roboto.css";
@import "~normalize.css";
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 2;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  padding: 30px;
  text-align: center;
}

.header__title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.main {
  padding-top: 100px;
  text-align: center;
}